.brands
  .container
    .brands__wrap
      img.brands__img(src='img/brands/1280px-Coca-Cola_logo.svg.png' alt='cola')
      img.brands__img(src='img/brands/Dropbox_logo.svg.png' alt='dropbox')
      img.brands__img(src='img/brands/Intel-logo.svg.png' alt='intel')
      img.brands__img(src='img/brands/Zendesk_logo_RGB.png' alt='zendesk')
      img.brands__img(src='img/brands/1280px-Nokia_wordmark.svg.png' alt='nokia')
