section.clients
  .container
    .services.clients__head
      h1.services__title Happy Clients
      p.services__desc We are very proud of our clients and always ready to serve them.
    .swiper-container
      .swiper-wrapper
        .swiper-slide.slider
          p.services__desc.clients_text
            | &ldquo;Amazing service and professionalism! ZET Studio delivered
            | outstanding work well before the deadline and within the budget! We look forward to working with them
            | again on our next project&rdquo;.
          img.slider__img(src='img/slider/adam.jpg' alt='adam')
          .slider__info
            h3.slider__title Vasily Nganu
            p.slider__text Dropbox Senior Developer
          //
            <div class="slider__circle">
            <i class="fas fa-circle"></i>
            <i class="far fa-circle"></i>
            <i class="far fa-circle"></i>
            </div>
