section.clients
  .container
    .services.clients__head
      h1.services__title Happy Clients
      p.services__desc We are very proud of our clients and always ready to serve them.
    .swiper-container
      .swiper-wrapper
        .swiper-slide.slider
          p.services__desc.clients_text
            | &ldquo;Amazing service and professionalism! ZET Studio delivered
            | outstanding work well before the deadline and within the budget! We look forward to working with them
            | again on our next project&rdquo;.
          img.slider__img(src='img/slider/adam.jpg' alt='adam')
          .slider__info
            h3.slider__title Vasily Nganu
            p.slider__text Dropbox Senior Developer
          //
            <div class="slider__circle">
            <i class="fas fa-circle"></i>
            <i class="far fa-circle"></i>
            <i class="far fa-circle"></i>
            </div>
        .swiper-slide.slider
          p.services__desc.clients_text
            | &ldquo;We were happy with the quality of ZET&rsquo;s work. ZET staff was super
            | responsive. They ended up delivering an extremely high-quality product with a super short turnaround and
            | we would absolutely work with them again in the future&rdquo;.
          img.slider__img(src='img/slider/happyclient3.jpg' alt='client2')
          .slider__info
            h3.slider__title Angela Vasilieva
            p.slider__text Software Engineer
        .swiper-slide.slider
          p.services__desc.clients_text
            | &ldquo;ZET Studio&rsquo;s work generated positive feedback from internal staff
            | and managers. The team was highly communicative and responsive, showing a strong commitment to the
            | project&rsquo;s goals. Our main point of contact was on top of the project, taking care of any changes and
            | listening to all of our feedback.&rdquo;
          img.slider__img(src='img/slider/happyclient2.jpg' alt='client3')
          .slider__info
            h3.slider__title Maks Kollisei
            p.slider__text Booking.com IT Director
      .slider__circle.swiper-pagination
