section.footer
  .container.footer__container
    .footer__logo_wrap
      img.footer__logo(src='img/ZET-footer.png' alt='logo')
      p.footer__text Copyright 2015. Allright Reserved
    .footer__social
      p.footer__social_text Stay in Touch
      i.icon-facebook.social__icon
      i.icon-twitter.social__icon
      i.icon-google.social__icon
      i.icon-dribbble-with-circle.social__icon
