.wrapper
  header.header
    .container
      section.top
        img.top__logo(src='img/ZET.png' alt='')
        nav.nav
          h2.nav__title MENU
        button.hamburger.hamburger--spin(type='button')
          span.hamburger-box
            span.hamburger-inner
        nav.hidden-nav
          a.hidden-nav__link(href='#') Home
          a.hidden-nav__link(href='#') About
          a.hidden-nav__link(href='#') Team
          a.hidden-nav__link(href='#') Blog
          a.hidden-nav__link(href='#') Contact
      // /* intro*/
      section.intro
        h1.intro__title Ready To Grow? Get Your Free Proposal Today.
        p.intro__desc
          | Our tech-enabled marketing services help your business grow online leads, calls, and revenue.
        a.intro__link.btn(href='#') Let&apos;s Talk
      .intro__arrow
        i.fas.fa-chevron-down
