section.pricing
  .container
    .services.clients__head
      h1.services__title Pricing Table
      p.services__desc
        | Here below list of our unique prices. We can customize according to your
        | requirements.
    ul.pricing__list
      li.pricing__list_item
        .pricing__list_wrap
          h3.pricing__list_title Standard Pack
          h1.pricing__list_tag $50
          p.pricing__list_text Per month
        .pricing__content
          p.pricing__text
            | The following pack includes: consultation, research competitors, study the market and draw a basic plan
            | for your company.
          a.pricing__link.btn.standard_link(href='#') Sign Up
      li.pricing__list_item.unique
        .pricing__list_wrap
          h3.pricing__list_title Best Pack
          h1.pricing__list_tag $100
          p.pricing__list_text Per month
        .pricing__content.unique_content
          p.pricing__text
            | The following pack includes: consultation, research competitors, study the market, draw a picture of
            | your potential prospect and marketing path in order to target them in advertising campaign.
          a.pricing__link.btn(href='#') Sign Up
      li.pricing__list_item
        .pricing__list_wrap
          h3.pricing__list_title VIP Pack
          h1.pricing__list_tag $250
          p.pricing__list_text Per month
        .pricing__content
          p.pricing__text
            | The following pack includes: consultation, research competitors, study the market, draw a picture of
            | your potential prospect and marketing path in order to target them in advertising campaign.
          a.pricing__link.btn(href='#') Sign Up
