section.middle
  .container
    .services
      h1.services__title Services
      p.services__desc
        | List of our popular services and products. We will happy be in assisting and
        | providing
        | you our best.
    ul.services__list
      li.services__item
        .services__item_icon.laptop
          img.services__img(src='img/icon/laptop3.png' alt='laptop')
        h3.services__item_title Website Experience
        p.services__item_text
          | We don&rsquo;t just build websites. We develop your brand&rsquo;s story by constructing memorable digital experiences.
      li.services__item
        .services__item_icon
          img(src='img/icon/adjust2.png' alt='adjust')
        h3.services__item_title Creative Branding
        p.services__item_text
          | A brand designed with intent and purpose gives you a competitive advantage.
      li.services__item
        .services__item_icon
          img(src='img/icon/map7.png' alt='map')
        h3.services__item_title Content is King
        p.services__item_text
          | In the era of information overload, let iSynergy develop relevant, captivating content to maximize your
          | exposure and ROI.
      li.services__item
        .services__item_icon.heart
          img(src='img/icon/heart19.png' alt='heart')
        h3.services__item_title Made with love
        p.services__item_text
          | We care about end result of our work and do with passion.
          | Our work underlines our reputation.
