section.team
  .container.team__container
    .services.team__head
      h1.services__title.team__title Our Professional Team
      p.services__desc.team__desc Professional team, will provide you a high-level consultation.
    .team__board
      .team__item
        img.team__img(src='img/staff/1.jpg' alt='first')
        h3.team__subtitle Salazar Slytherin
        p.team__text CEO
        .team__icon
          i.icon-twitter
          i.icon-linkedin
          i.icon-vimeo
          i.icon-dribble
          i.icon-envelope
      .team__item
        img.team__img(src='img/staff/2.jpg' alt='second')
        h3.team__subtitle GodricT Gryffindor
        p.team__text Lead Developer
        i.icon-twitter
        i.icon-linkedin
        i.icon-vimeo
        i.icon-dribble
        i.icon-envelope
      .team__item
        img.team__img(src='img/staff/3.jpg' alt='third')
        h3.team__subtitle Rowena Ravenclaw
        p.team__text Lead Designer
        i.icon-twitter
        i.icon-linkedin
        i.icon-vimeo
        i.icon-dribble
        i.icon-envelope
      .team__item
        img.team__img(src='img/staff/4.jpg' alt='forth')
        h3.team__subtitle Helga Hufflepuff
        p.team__text Marketing
        i.icon-twitter
        i.icon-linkedin
        i.icon-vimeo
        i.icon-dribble
        i.icon-envelope
    a.team__link.btn(href='#') Meet our full team
