section.works
  .services
    h1.services__title Works
    p.services__desc List of our completed works.
  main.works__grid
    a(href='img/1st-row/boommy-shop.jpg')
      img.works__image(src='img/1st-row/boommy-shop.jpg' alt='boomy')
    a(href='img/1st-row/SEO-software.jpg')
      img.works__image(src='img/1st-row/SEO-software.jpg' alt='seo')
    a(href='img/1st-row/fresh-music.jpg')
      img.works__image(src='img/1st-row/fresh-music.jpg' alt='fresh')
    a(href='img/1st-row/app-search.jpg')
      img.works__image(src='img/1st-row/app-search.jpg' alt='app')
    a(href='img/1st-row/family-safety.jpg')
      img.works__image(src='img/1st-row/family-safety.jpg' alt='family')
    a(href='img/2nd-row/first-img.jpg')
      img.works__image(src='img/2nd-row/first-img.jpg' alt='first')
    a(href='img/2nd-row/second-img.jpg')
      img.works__image(src='img/2nd-row/second-img.jpg' alt='second')
    a(href='img/2nd-row/third.jpg')
      img.works__image(src='img/2nd-row/third.jpg' alt='third')
    a(href='img/2nd-row/forth.jpg')
      img.works__image(src='img/2nd-row/forth.jpg' alt='forth')
    a(href='img/2nd-row/fifth.jpg')
      img.works__image(src='img/2nd-row/fifth.jpg' alt='fifth')
    a(href='img/3th-row/first-img.jpg')
      img.works__image(src='img/3th-row/first-img.jpg' alt='first')
    a(href='img/3th-row/second-img.jpg')
      img.works__image(src='img/3th-row/second-img.jpg' alt='second')
    a(href='img/3th-row/third-img.jpg')
      img.works__image(src='img/3th-row/third-img.jpg' alt='third')
    a(href='img/3th-row/forth-img.jpg')
      img.works__image(src='img/3th-row/forth-img.jpg' alt='forth')
    a(href='img/3th-row/fifth-img.jpg')
      img.works__image(src='img/3th-row/fifth-img.jpg' alt='fifth')
