@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("../../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans-ExtraBold";
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
    url("../../fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"),
    url("../../fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans-Light";
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../../fonts/OpenSans/OpenSans-Light.woff2") format("woff2"),
    url("../../fonts/OpenSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans-Regular";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("../../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icon/icomoon.woff?lygoom") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\e900";
}
.icon-google:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-vimeo:before {
  content: "\e905";
}
.icon-dribble:before {
  content: "\e906";
}
