@function rem($px) {
  @return $px / 16px + 0rem;
}


@mixin flex-type ($main: null, $cross: null) {
    display: flex;
    justify-content: $main;
    align-items: $cross;
}
@mixin media($screen-size) {
  @media screen and (max-width: $screen-size) {
    @content
  }
}