$font-mb: "Montserrat-Bold";
$font-mr: "Montserrat-Regular";
$font-osl: "OpenSans-Light";
$font-osxb: "OpenSans-ExtraBold";
$font-osl: "OpenSans-Light";
$font-osr: "OpenSans-Regular";

$font-base: 16px;
$accent-color: #e8e8e8;
