
.clients_text{
  color: $text-color;
  font-family: $font-osr;
  font-size: rem(16px);
  line-height: rem(26px);
  position: relative;
  @include media(520px){
    font-size: rem(14px);
  }
}
.clients_text::after{
  content: '"';
  color: $text-color;
  font-size: rem(30px);
  line-height: rem(26px);
  font-family: $font-mb;
  position: absolute;
  top: 100%;
  left: 50%;

}

.slider{
 text-align: center;
 padding-top: rem(30px) ;
}

.slider__img{
  border: 1px solid transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: rem(25px);
}

.slider__info{
  margin-top: rem(15px);
}
.swiper-pagination-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-left: rem(10px);
  margin-top: rem(30px);

}
.slider__title{
  margin: 0 auto;
  font-family: $font-mb;
  font-size: rem(15px);
  line-height: rem(20px);
  color: $text-color;

}
.slider__text{
  margin: 0 auto;
  font-family: $font-mr;
  font-size: rem(13px);
  line-height: rem(20px);
  color: $text-color;

}
.fa-circle{
 font-size: 15px;
}

.slider__circle{
  text-align: center;
}