.contact{
  @include flex-type;

  @include media(968px){
    flex-wrap: wrap;
  }
}

.contact__img{
  width: 50%;
  @include media(968px){
  flex-basis: 100%;
  }
}

.form__img {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
  url(../img/bg-3.jpg) center center / cover;
  width: 100%;

}
.form-wrap{
  max-width: 430px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 114px 0;
  @include media(968px){
   margin: 0 auto;
    }
  @include media(468px){
    max-width: 350px;
  }
  @include media(420px){
    max-width: 300px;
  }
}
.form-group{
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  @include media(968px){
    margin-bottom: rem(35px);
    
     }
}
.form-text{
  width: 100px;
  margin-right: rem(10px);
  color: #f6f6f6;
  font-size: rem(14px);
  line-height: rem(36px);
  font-family: $font-mr;
}
.form-field{
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  border: 1px solid #f2f2f2;
  background-color: transparent;
  border-radius: 3px;
}
.message{
  resize: vertical;
  width: 100%;
  outline: none;
  overflow: auto;
}
.form-submit{
  margin-left: auto;
  padding: 13px 20px;
  cursor: pointer;
  font-family: $font-mb;
  font-size: rem(13px);
  color: $accent-color;
  background-color: transparent;
  border-radius: 3px;

}
