.contact{
  display: flex;
}

.form__img {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
  url(../img/bg-3.jpg) center center / cover;
  width: 800px;

}
.form-wrap{
  margin: 0 auto;
  box-sizing: border-box;
  padding: 114px;
}
.form-group{
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.form-text{
  color: #f6f6f6;
  font-size: rem(14px);
  line-height: rem(36px);
  font-family: $font-mr;
}
.form-field{
  margin-left: rem(60px);
  max-width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  border: 1px solid #f2f2f2;
  background-color: transparent;
  border-radius: 3px;
}
.form-submit{
  padding: 13px 16px;
  font-family: $font-mb;
  font-size: rem(13px);
  color: $accent-color;
  background-color: transparent;
  border-radius: 3px;



}
