.footer{
  background-color: #f5f5f5;
  padding: 40px 0;
}
.footer__container{
  @include flex-type($main: space-between, $cross:center);

  @include media(568px){
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__logo_wrap{
  @include flex-type($main: null, $cross:center);
}
.footer__text{
  margin-left: rem(30px);
  font-family: $font-osr;
  font-size: rem(14px);
  line-height: rem(22px);
  color: $main-color;
}
.footer__social{
  @include flex-type($main:null, $cross:center);
}
.footer__social_text{
  margin-right: rem(30px);
  font-family: $font-osr;
  font-size: rem(14px);
  line-height: rem(22px);
  color: $main-color;
}
.social__icon{
  font-size: 30px;
  margin-left: rem(8px);
}