.middle{
  background-color: $bg-color;
}

.services{
  padding: rem(20px);
  position: relative;
}

.services::after{
  content: '';
  border-bottom: 2px solid $main-color;
  width: 40px;
  position: absolute;
  top: 85%;
  left: 48%;
  @include media(375px){
    left: 45%;
    top: 90%;
  }
}

.services__title{
  text-transform: uppercase;
  font-family: $font-osxb;
  color: $main-color;
  font-size: rem(26px);
  line-height: rem(22px);
  text-align: center;
  @include media(420px){
    font-size: rem(20px);
  }
}

.services__desc{
  font-family: $font-osr;
  color: $main-color;
  font-size: rem(14px);
  line-height: rem(30px);
  text-align: center;
  @include media(375px){
    text-align: center;
  }
}

.services__list{
  display: flex;
  justify-content: space-evenly;
  @include media(992px) {
    flex-wrap: wrap;
    padding: 0;
  }
}

.services__item{
  padding-top: rem(50px);
  margin: 0 .5rem;
  text-align: center;
  list-style: none;
  
  @include media(992px){
    flex-basis: 45%;
    margin: 0 auto;
  }
  @include media(568px){
    text-align: none;
    flex-basis: 100%;
  }

}
.services__item_icon{
  display: inline-flex;
  padding: rem(30px) rem(30px);
  border: 1px solid #485563;
  border-radius: 50%;
  background-image: radial-gradient(circle at center, #485563 0%, #485563 0%, #29323c 100%);
  width: 100px;
  height: 100px;
}
.laptop{
  padding-left: rem(22px);
}
.heart{
  padding-right: rem(-6px);
}
.services__item_title{
  color: $main-color;
  font-family: $font-mb;
  font-size: rem(16px);
  line-height: rem(36px);
}

.services__item_text{
  color: $main-color;
  font-family: $font-osr;
  font-size: rem(14px);
  line-height: rem(22px);

  @include media(568px){
   text-align: center;
  }

}