
.team__container{
  text-align: center;
}

.team {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
    url(../img/bg-2.jpg) center center / cover;

}

.team__title {
  color: $color-white;
  @include media(420px){
    font-size: rem(20px);
  }
}

.team__desc{
  color: $color-white;
}
.team__head{
  margin-top: rem(50px);
  padding-top: rem(30px);

}
.team__head::after{
  content: '';
  border-bottom: 2px solid $color-white;
  width: 40px;
  position: absolute;
  top: 95%;
  left: 48%;
  @include media(375px){
    left: 45%;
  }
}
.team__board{
  @include flex-type ($main: space-between, $cross: null);
  margin-top: rem(50px);

  @include media(1100px){
    flex-wrap: wrap;
    @include flex-type ($main: center, $cross:null);
  }
  
}
.team__img{
  @include media(1100px){
    width: 100%;
  }
}
.team__item {
  background: $color-white;
  text-align: center;
  @include media(1100px){
  flex-basis: 30%;
  margin: rem(20px);
  }
  @include media(668px){
    flex-basis: 50%;
  }
  @include media(420px){
    flex-basis: 70%;
  }
}
.team__subtitle{
  font-family: $font-mb;
  font-size: rem(15px);
  line-height: rem(20px);
  color: $main-color;
  margin-bottom: -15px;
}
.team__text{
  font-family: $font-mr;
  font-size: rem(14px);
  line-height: rem(20px);
  color: $main-color;
}
.team__icon{
  margin-bottom: rem(26px);
}
.team__link{
  margin: rem(40px);
  display: inline-block;
  text-transform: uppercase;
  font-family: $font-mb;
  color: $accent-color;
  font-size: rem(13px);
  text-decoration: none;
}
.team__link:hover{
  background-color: rgba(129, 219, 219); 
  color: rgba(78, 81, 82);
  transition: all .5s linear;
}

.brands{
  background: $color-offwhite;

}
.brands__wrap{
  @include flex-type ($main: space-around, $cross: center);
  padding: rem(50px);

  @include media(1200px){
    flex-wrap: wrap;
  }
}

.brands__img{
  @include media(900px){
    margin-right: rem(30px);
    margin-bottom: rem(30px);
  }
  @include media(420px){
    padding-left: rem(20px);
    margin-right: 0;
    max-width: 50%;
  }
}

