<!DOCTYPE html>
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='css/main.css')

  body
    include includes/header
    include includes/intro
    include includes/services
    include includes/works
    include includes/clients 
    include includes/swiper 
    include includes/team
    include includes/brands
    include includes/pricing
    include includes/contact 
    include includes/footer 
    include includes/scripts 